<div class="flex flex-col justify-evenly items-center h-full">
  <div class="w-3/4">
    <app-score-board />
  </div>
  <div class="w-3/4">
    <div class="flex flex-col gap-8">
      <div class="text-center text-5xl text-secondary font-bold blue-stroke">
        Start
      </div>
      <div class="flex flex-row justify-around text-3xl font-bold font-mono">
        <a [routerLink]="['/game', 'easy']" class="text-secondary blue-stroke"
          >Easy</a
        >
        <a
          [routerLink]="['/game', 'medium']"
          class="text-orange-500 blue-stroke"
          >Medium</a
        >
        <a [routerLink]="['/game', 'hard']" class="text-red-600 blue-stroke"
          >Hard</a
        >
      </div>
    </div>
  </div>
</div>
