<div class="flex flex-col justify-evenly items-center h-full">
  <div class="w-3/4">
    <app-score-board />
  </div>
  <div class="w-3/4">
    <div class="flex flex-col gap-8">
      <div class="text-center text-5xl text-secondary font-bold blue-stroke">
        Start
      </div>
      <div class="flex flex-row justify-around text-3xl font-bold font-mono">
        <button
          (click)="navigate('easy', 1)"
          class="text-secondary blue-stroke"
        >
          Easy
        </button>
        <button
          (click)="navigate('medium', 1)"
          class="text-orange-500 blue-stroke"
        >
          Medium
        </button>
        <button (click)="navigate('hard', 1)" class="text-red-600 blue-stroke">
          Hard
        </button>
      </div>
    </div>
  </div>
</div>
