<div>
  <div
    class="text-center text-3xl sm:text-5xl text-secondary font-bold blue-stroke mb-4"
  >
    Score Board
  </div>
  <div class="relative overflow-auto max-h-64">
    <table class="w-full font-mono text-sm text-left rtl:text-right text-white">
      <thead
        class="font-sans sm:text-lg text-yellow-300 uppercase drop-shadow-2xl shadow-primary"
      >
        <tr>
          <th scope="col" class="px-1 py-2">Date</th>
          <th scope="col" class="px-1 py-2">Diff.</th>
          <th scope="col" class="px-1 py-2">State</th>
          <th scope="col" class="px-1 py-2">Level</th>
          <th scope="col" class="px-1 py-2">Score</th>
          <th scope="col" class="px-1 py-2">Time</th>
        </tr>
      </thead>
      <tbody>
        @for (record of gameRecords; track record.id) {
        <tr class="">
          <td class="px-1 py-2">
            {{ record.date | date : "hh:mm MMM, dd YYYY" }}
          </td>
          <th
            scope="row"
            class="px-1 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ record.difficulty }}
          </th>
          <td class="px-1 py-2">{{ record.state }}</td>
          <td class="px-1 py-2">{{ record.level }}</td>
          <td class="px-1 py-2">{{ record.score }}</td>
          <td class="px-1 py-2">{{ record.totalTime | date : "mm:ss" }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
